[submodule "pathfinder"]
	path = pathfinder
	url = https://github.com/TyrHeimdalEVE/pathfinder.git
	branch = master
[submodule "websocket"]
	path = websocket
	url = https://github.com/TyrHeimdalEVE/pathfinder-websocket.git
	branch = master
